body{
margin: 0;
padding-top: 800px;
text-align: center
    
}
.profile{
    width: 215px;
    margin-bottom: 55px;
    border-radius: 45%;
    
}
#welcome{
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: black;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top:0px;
    background:linear-gradient(#6ff2c0 0%,#2a81b8 10%,#1b40e3 20%,#ad36e0 30%);
    display: table;
    width: 100%;
    height:100%;
    
}
h1{
font-size: 40px;
line-height: 1.2px;
font-family: sans-serif;
font-weight: 400;
}
#name{
font-size: 30px;
line-height: 1.2px;
font-family: sans-serif;
padding: 10px
}
h2{
font-size: 40px;
line-height: 1.2px;
font-family: sans-serif;
font-weight: 300;
}
#biography{
padding: 50px;
text-align: center;
font-size:36px;
}
.line{
height:8px;
width:250px;
margin:10px;

}
p{
max-width: 500px;
margin:30px auto;
font-size: 22px;
line-height:1.3;
}
#coloredsection{
display: table-cell;
position:relative;
text-align: center;
vertical-align: middle
}
